body {
  /*background-image: url('../assets/images/background/book_bg.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size:125%;
  margin-left: 10%;
  margin-right: 10%;
  word-break: break-word;
}
.linux{
  text-align: left;
  border: 1px solid #ebccd1;
}

.linux h3 {
  color: #a94442;
  background-color: #f2dede;
  margin-bottom: 0;
  margin-top: 0;
}

.programming{
  text-align: left;
  border: 1px solid #ebccd1;
}

.programming h3 {
  color: #a94442;
  background-color: #f2dede;
  margin-bottom: 0;
  margin-top: 0;
}

.dsa{
  text-align: left;
  border: 1px solid #ebccd1;
}

.dsa h3 {
  color: #a94442;
  background-color: #f2dede;
  margin-bottom: 0;
  margin-top: 0;
}

.ml{
  text-align: left;
  border: 1px solid #ebccd1;
}

.ml h3 {
  color: #a94442;
  background-color: #f2dede;
  margin-bottom: 0;
  margin-top: 0;
}

.software{
  text-align: left;
  border: 1px solid #ebccd1;
}

.software h3 {
  color: #a94442;
  background-color: #f2dede;
  margin-bottom: 0;
  margin-top: 0;
}