body {
  /*background-image: url('../assets/images/background/book_bg.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size:125%;
  margin-left: 20%;
  margin-right: 20%;
  word-break: break-word;
  color: #000;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,th {
	padding: 0;
}
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
a {
	background-color: transparent;
}
a:active,a:hover {
	outline: 0;
}

.linux{
  text-align: left;
}

.linux h3 {
  color: #000;
  background-color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
}

.programming{
  text-align: left;
}

.programming h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.dsa{
  text-align: left;
}

.dsa h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.ml{
  text-align: left;
}

.ml h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.software{
  text-align: left;
}

.software h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.electronic{
  text-align: left;
}

.electronic h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.networking{
  text-align: left;
}

.networking h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.vietnamese{
  text-align: left;
}

.vietnamese h3 {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}