th,
td {
    border: 1px solid #337ab7;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size:125%;
  word-break: break-word;
  display: flex;
  justify-content: flex-start;
  font-family: Cambria;
}

.name {
  height: 20%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1px;
  background-size: cover;
  text-align:center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
}

.mine {
  height: 20%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1px;
  background-size: cover;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
}

.left {
  width:20%;
  padding: 2px;
  background-color: #ffffff;
}

.right{
  width:20%;
  padding: 2px;
  background-color: #ffffff;
}

.full{
  padding: 2px;
  width:80%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.name {
  text-align: center;
}

.title{
  text-align: left;
  border: 1px solid #ffffff;
}

.title h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}

.education{
  text-align: left;
  border: 1px solid #ffffff;
}

.education h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}

.experience {
  text-align: left;
  border: 1px solid #ffffff;
}

.experience h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}

.publications {
  text-align: left;
  border: 1px solid #ffffff;
}

.publications h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}

.documents {
  text-align: left;
  border: 1px solid #ffffff;
}

.documents h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}

.contacts {
  text-align: left;
  border: 1px solid #ffffff;
}

.contacts h3 {
  color: white;
  background-color: #337ab7;
  margin-bottom: 0;
  margin-top: 0;
}