body {
  /*background-image: url('../assets/images/background/book_bg.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size:125%;
  margin-left: 10%;
  margin-right: 10%;
  word-break: break-word;
}
.trade{
  text-align: left;
  border: 1px solid #00F00F;
}

.trade h3 {
  color: #ffffff;
  background-color: #00F00F;
  margin-bottom: 0;
  margin-top: 0;
}

.strategy{
  text-align: left;
  border: 1px solid #00F00F;
}

.strategy h3 {
  color: #ffffff;
  background-color: #00F00F;
  margin-bottom: 0;
  margin-top: 0;
}

.stock{
  text-align: left;
  border: 1px solid #00F00F;
}

.stock h3 {
  color: #ffffff;
  background-color: #00F00F;
  margin-bottom: 0;
  margin-top: 0;
}

.life{
  text-align: left;
  border: 1px solid #00F00F;
}

.life h3 {
  color: #ffffff;
  background-color: #00F00F;
  margin-bottom: 0;
  margin-top: 0;
}